<div class="container>

<% if current_user == nil %>
<% flash.each do |type, msg| %>
<%= msg %>
<% end %>
<% end %>


<div class="card mb-3">
  <img src="<%=asset_path("bboyrevenge.jpg")%>" class="card-img-top" alt="...">
  <div class="card-body">

    <%# <h2 class="card-title">The Break Down</h2> %>
    <% if logged_in? %>
    <p class="card-text">You can now create your own move tutorials and comment on others!</p>
    <% else %>
      <p class="card-text">
        <p><b>Do you love to break and teach?</b>
        <p><b>Do you have moves that only you can do?</b></p>
        <p><b>Do you want to be an innovator and have your moves distinguished to you.</b></p>
        <p>Use the break down and create move tutorials for the future generations. 
           Or even if you are here because you want to be a student and learn how to breakdance. You can learn the vocabulary for all the breaking moves and how to do them. Whether your a beginner, intermediate or advance I’m sure the break down will teach you a thing or two. Just remember we are always a student.</p>
        <p>Please sign up or login to continue to access this website</p>
      </p>
    <% end %>

  </div>
</div>

</div>