<center><h1>Welcome to The Break Down</h1></center>

<% if current_user == nil %>

<% flash.each do |type, msg| %>
<%= msg %>
<%end%>
<%end%>



<% if logged_in? %>
<p>You can now create your own move tutorials and comment on others!</p>
<% else%>
<p>Please sign up or login to continue to access this website</p>
<%end%>
