<div class="mt-4 container">
    <h1 class="text-center">Categories</h1>
    <p>The categories are preset but if you see a category that you think shoud be persisted please email us at thebreakdown@gmail.com</p>
    <ul class="list-group">
        <% @categories.each do |c|%>
            <li class="list-group-item text-center">
                <%=link_to c.name, category_path(c) %>
            </li>
            <%end%>
    </ul>
</div>