        <nav>
    <% if logged_in? %>
    Logged in as: <strong><%= current_user.email %> </strong><br>
    <a href="/">Home</a> |
    <a href="/users/<%=current_user.id%>">Profile</a> |
    <a href="/categories">Categories</a> |
    <a href="/move_tutorials">View Move Tutorials</a> |
    <a href="/move_tutorials/new">Create Move Tutorials</a> |
    <%= link_to 'Logout', '/logout', method: "delete"%>
    
     
    <% else %>
    <a href="/">Home</a> |
    <a href="/signup">Sign Up</a> | 
    <a href="/login">Login</a>
    <% end %>
    </nav>